<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app</directory>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
    <php>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="DB_FOREIGN_KEYS" value="true" />
        <!-- <env name="DB_DATABASE" value="PinterestApiTest"/> -->
        <env name="DB_USERNAME" value="root"/>
        <env name="DB_PASSWORD" value=""/>
        <env name="PINTEREST_API_CLIENT_ID" value="pinterest.application-oa2-client.a925EXAMPLE0b302baf3e644a"/>
        <env name="PINTEREST_API_CLIENT_SECRET" value="EXAMPLE0b302baf3e644a2baf3e62baf3e"/>
        <env name="PINTEREST_API_AD_ACCOUNT_ID"  value="12345678"/>
    </php>
</phpunit>
